---
- name: Debian/Ubuntu Specific Instructions
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  include_tasks: debian.yml

- name: CentOS/RHEL Specific Instructions
  when: ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux'
  include_tasks: rhel.yml

- name: Harden MySQL/MariaDB
  when: harden_db | default(yes) | boolean
  include_tasks: database_hardening.yml

- name: Get and install Guacamole
  include_tasks: get_and_install_guacamole_sources.yml

- name: Setup MySQL
  include_tasks: database_setup.yml

- name: Provision Guacamole
  include_tasks: provision_guacamole.yml

- name: Secure Tomcat
  include_tasks: secure_tomcat.yml
  
- name: Notify completion
  include_tasks: notify.yml

- debug: msg="End of role"
